.article_section {
    width: 100%;
}

.article {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    &_main {
        width: 63%;
        padding-bottom: 40px;
        border-bottom: 1px solid #ECECEC;
        margin-top: 26px;
        h1 {
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 46px;
            line-height: 140%;
            color: #222222;
            margin-top: 0;
        }
        h3 {
            font-family: Open Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 170%;
            color: #222222;
            margin-bottom: 10px;
            margin-top: 40px;
        }
        &_image {
            width: 100%;
            img {
                width: 100%;
            }
        }
        &_info {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            span.date {              
                color: #666666;
            }
            span.time_to_read {                
                color: #1117A3;
            }
        }
        p {
            font-family: Open Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 170%;    
            color: #222222;
        }
        p.article_main_default_text {
            font-size: 20px;
        }
        ul {
            list-style: none;
            li {
                margin: 5px 0;
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 170%;
                color: #222222;
                &::before {
                    content: "\2022";  
                    color: #1117A3;
                    font-weight: bold; 
                    display: inline-block; 
                    width: 1em; 
                    margin-left: -1em; 
                }
            }
        }

        ol {
            list-style-type: none; 
	        counter-reset: num;
	        margin: 0 0 0 45px;
	        padding: 15px 0 5px 0;
	        font-size: 16px;
            li {
                position: relative;	
                margin: 0 0 0 0;
                padding: 0 0 10px 20px;
                line-height: 1.4;
                font-family: Open Sans;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 170%;
                color: #222222;
                &::before {
                    content: counter(num); 
	                counter-increment: num;
	                display: inline-block;
	                position: absolute;
	                top: 0;
	                left: -38px;
	                width: 40px;
	                height: 40px;
                    border-radius: 100px;
                    background: #1117A3;
	                color: #FFFFFF;
	                text-align: center;
	                line-height: 40px;
	                font-size: 18px;
                }
            }
        }
        &_important_text {
            border-left: 4px #1117A3 solid;
            padding: 10px 30px;
            font-size: 20px;
        }
        &_share {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            p {
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 170%;
                color: #1117A3;
            }
            .all_shares {
                width: 272px;
                height: 40px;
                button {
                    width: 40px;
                    height: 40px;
                    border-radius: 100px;
                    border: 0;
                    background-color: antiquewhite;
                    margin-left: 7px;
                    margin-right: 7px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                    background-image: url('../img/all_shares.png');
                    cursor: pointer;
                }
                #share_1 {
                    background-position:  0 0;
                }
                #share_2 {
                    background-position:  208px 0;
                }
                #share_3 {
                    background-position:  152px 0;
                }
                #share_4 {
                    background-position:  96px 0;
                }
                #share_5 {
                    background-position:  40px 0;
                }
            }
        }
    }
    &_add {
        margin-left: 7%;
        width: 30%;
        margin-top: 24px;
        .categories {
            margin-top: 15px;
            padding-bottom: 30px;
            border-bottom: 1px solid #E6E6E6;
            h3 {
                margin-top: 0;
                font-family: Open Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 130%;
                color: #222222;
            }
            &_list {
                width: 87.5%;
                button {
                    background: #EDF5FE;
                    border-radius: 100px;
                    border: 0;
                    padding: 10px 20px;
                    margin: 5px 5px 5px 0;
                    font-family: Open Sans;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 140%;
                    color: #666666;
                    cursor: pointer;
                }
            }
            
        }
        .mobile_app_add {
            margin-top: 30px;
            height: 731px;
            background: #C5DCF2;
            border-radius: 15px;
        }
    }
}