.section_4 {
  margin-bottom: 50px;
}

.s6 {
  margin-bottom: 50px;
}

.header__main {
  height: 600px;
}

.header__main__text__head h1 {
  width: 60%;
}

.header__main__text__main p {
  width: 60%;
}

.header__main__back .man {
  left: 56.4%;
}

.header__main__back .back {
  left: 52%;
}

.remont {
  background-color: #F3F4F9;
}

.remont_block {
  display: flex;
  flex-direction: row;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 90px;
}

.remont_block_text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.remont_block_text h3 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 140%;
  text-align: center;
  color: #222222;
  text-align: left;
}

.remont_block_text_item_name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remont_block_text_item_name .name {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #222222;
  width: 85%;
}

.remont_block_text_item_name .price {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #222222;
}

.remont_block_text_item .sub {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  color: #666666;
  width: 91%;
}

.remont_block_image img {
  border-radius: 20px;
}

.remont_block:last-child {
  padding-bottom: 100px;
}

@media screen and (max-width: 769px) {
  .header__main {
    height: 840px;
  }
  .header__main__text__head h1 {
    width: 100%;
    font-size: 40px;
  }
  .header__main__text__main p {
    width: 100%;
  }
  .header__main__back .man {
    left: 34%;
    width: 380px;
    height: 645px;
  }
  .header__main__back .back {
    left: 34%;
    width: 450px;
    height: 500px;
  }
}

@media screen and (max-width: 426px) {
  .header__main {
    height: 640px;
  }
  .header__main__text__head h1 {
    width: 90%;
    text-align: left;
    font-size: 27px;
  }
  .header__main__text__main p {
    text-align: left;
  }
  .header__main__back .man {
    top: 3%;
    left: 34%;
    width: 200px;
    height: 370px;
  }
  .header__main__back .back {
    top: 0%;
    left: 34%;
    width: 200px;
    height: 370px;
  }
  .section_6 {
    margin-top: 10px;
  }
  .header__main__text__btn button {
    width: 335px;
  }
}

@media screen and (max-width: 376px) {
  .header__main__text__btn button {
    width: 300px;
  }
}

@media screen and (max-width: 321px) {
  .header__main__text__btn button {
    width: 250px;
  }
}
