.section_4 {
    margin-bottom: 50px;
}

.s6 {
    margin-bottom: 50px;
}


.header__main {
    height: 600px;
    &__text{
        &__head h1{
            width: 60%;
        }
        &__main p{
            width: 60%;
        }
    }
    &__back {
        .man {
            left: 56.4%;
        }
        .back {
            left: 52%;
        }
    }
}

@media screen and (max-width: 769px) {
    .header__main {
        height: 840px;
        &__text{
            &__head h1{
                width: 100%;
                font-size: 40px;
            }
            &__main p{
                width: 100%;
            }
        }
        &__back {
            .man {
                left: 34%;
                width: 380px;
                height: 645px;
            }
            .back {
                left: 34%;
                width: 450px;
                height: 500px;
            }
        }
    }    
}

@media screen and (max-width: 426px) {
    .header__main {
        height: 640px;
      
                &__text{
                    &__head h1{
                        width: 90%;
                        text-align: left;
                        font-size: 27px;
                    }
                    &__main p{
                        text-align: left;
                    }
    
                }
                &__back{
                    .man {
                        top: 3%;
                        left: 34%;
                        width: 200px;
                        height: 370px;
                    }
                    .back {
                        top: 0%;
                        left: 34%;
                        width: 200px;
                        height: 370px;
                    }
                }
    }
    .section_6 {
        margin-top: 10px;
    }
    .header__main__text__btn button {
        width: 335px;
    }
}

@media screen and (max-width: 376px) {
    .header__main__text__btn button {
        width: 300px;
    }
}

@media screen and (max-width: 321px) {
    .header__main__text__btn button  {
        width: 250px;
    }
}
